

<!-- PAGE HEADING -->
<div class="grid-wrapper">
	<div class="grid grid-2-3">
		<div class="inner-block">
		<h1 class="heading-48">Parental leave and pay calculator</h1>

		<h2 class="heading-24">Your circumstances</h2>



<fieldset>
              <legend><span class="question-number">1. </span> Pregnancy or adoption?</legend>

              <div class="form-group">

                <label for="radio-2" class="block-label">
                  <input id="radio-2" type="radio" name="radio-group" value="2"> 
                  Pregnancy
                </label>

                <label for="radio-3" class="block-label">
                  <input id="radio-3" type="radio" name="radio-group" value="3"> 
                  Adoption
                </label>

              </div>
 </fieldset>


 <fieldset>
               <legend><span class="question-number">2. </span> How many people will be looking after the child?</legend>

               <div class="form-group">

               	<label for="radio-0" class="block-label">
               	  <input id="radio-0" type="radio" name="radio-group-1" value="0"> 
               	  1
               	</label>

                 <label for="radio-1" class="block-label">
                   <input id="radio-1" type="radio" name="radio-group-1" value="1"> 
                   2
                 </label>



               </div>
  </fieldset>

<a href="duedate"><button type="submit" class="medium button">Next</button></a>

		</div>
	</div>
</div>











