

<!-- PAGE HEADING -->
<div class="grid-wrapper">
	<div class="grid grid-2-3">
		<div class="inner-block">
		<h1 class="heading-48">Parental leave and pay calculator</h1>

		<h2 class="heading-24">Your baby's due date</h2>





              <div class="form-group">
                <fieldset>
                  <legend><span class="question-number">1. </span> When is your baby due?</legend>

                  <!-- fix this, it shouldn't look like this -->
                  <div class="date-of-birth">
                    <p class="form-hint">For example, 08 04 2014</p>

                    <div class="form-group form-group-day">
                      <label for="dob-day">Day</label>
                      <input type="text" class="form-control" id="dob-day">
                    </div>
                    <div class="form-group form-group-month">
                      <label for="dob-month">Month</label>
                      <input type="text" class="form-control" id="dob-month">
                    </div>
                    <div class="form-group form-group-year">
                      <label for="dob-year">Year</label>
                      <input type="text" class="form-control" id="dob-year">
                    </div>
                  </div>

          <!--        <div class="date-of-birth native-date-of-birth">
                    <p class="form-hint">For example, 08 April 2014</p>
                    <input type="date" class="form-control">
                  </div> -->

                </fieldset>
              </div>


<a href="employment"><button type="submit" class="medium button">Next</button></a>


<table>
  <thead><th colspan="3">Previous answers</th></thead>
  <tbody>
  <tr><td width="185px">Your circumstances</td><td width="252px">Pregnancy<br>2 parents</td><td width="55px"><a href="#">Change</a></td></tr>

</tbody>
</table>

<p> </p>

		</div>
	</div>
</div>











