

<!-- PAGE HEADING -->
<div class="grid-wrapper">
	<div class="grid grid-2-3">
		<div class="inner-block">
		<h1 class="heading-48">Parental leave and pay calculator</h1>

		<h2 class="heading-24">Employment</h2>


    <fieldset>
                  <legend><span class="question-number">1. </span> Is the mother employed?</legend>

                  <div class="form-group">

                    <label for="radio-0" class="block-label">
                      <input id="radio-0" type="radio" name="radio-group" value="2"> 
                      Employed
                    </label><br>

                    <label for="radio-1" class="block-label">
                      <input id="radio-1" type="radio" name="radio-group" value="3"> 
                      On a worker contract
                    </label><br>
                    <label for="radio-2" class="block-label">
                      <input id="radio-2" type="radio" name="radio-group" value="3"> 
                      Self employed
                    </label><br>
                    <label for="radio-3" class="block-label">
                      <input id="radio-3" type="radio" name="radio-group" value="3"> 
                      Not employed
                    </label>
                  </div>
     </fieldset>


     <fieldset>
                   <legend><span class="question-number">2. </span> Is the father employed?</legend>

                   <div class="form-group">

                     <label for="radio-0" class="block-label">
                       <input id="radio-0" type="radio" name="radio-group" value="2"> 
                       Employed
                     </label><br>

                     <label for="radio-1" class="block-label">
                       <input id="radio-1" type="radio" name="radio-group" value="3"> 
                       On a worker contract
                     </label><br>
                     <label for="radio-2" class="block-label">
                       <input id="radio-2" type="radio" name="radio-group" value="3"> 
                       Self employed
                     </label><br>
                     <label for="radio-3" class="block-label">
                       <input id="radio-3" type="radio" name="radio-group" value="3"> 
                       Not employed
                     </label>
                   </div>
      </fieldset>


<a href="mothers-employment"><button type="submit" class="medium button">Next</button></a>


<table>
  <thead><th colspan="3">Previous answers</th></thead>
  <tbody>
  <tr><td width="185px">Your circumstances</td><td width="252px">Pregnancy<br>2 parents</td><td width="55px"><a href="#">Change</a></td></tr>
  <tr><td>Due date</td><td>5 June 2015</td><td><a href="#">Change</a></td></tr>
</tbody>
</table>

<p> </p>

		</div>
	</div>
</div>











