

<!-- PAGE HEADING -->
<div class="grid-wrapper">
	<div class="grid grid-2-3">
		<div class="inner-block">
		<h1 class="heading-48">Parental leave and pay calculator</h1>

		<p>Calculate your:</p>

		<ul class="list-bullet text">
		<li>statutory maternity pay (SMP), paternity pay, adoption pay</li>
		  <li>qualifying week</li>
		  <li>relevant employment period and average weekly earnings</li>
		  <li>leave period</li>
		  <li>shared parental pay or leave</li>
		</ul>

<p><a href="circumstances"><button type="submit" class="medium button">Start</button></a></p>

<h2 class="heading-24">What you need</h2>

<p>You need:</p>

<ul class="list-bullet text">
<li>the baby’s due date</li>
  <li>date of birth - for paternity</li>
  <li>your employee’s salary details - eg weekly rates of pay</li>
  <li>the dates for adoption - eg match date or date of placement</li>
</ul>
<p>You can’t use the calculator for:</p>

<ul class="list-bullet text">
<li>births 15 weeks before the due date</li>
  
  <li>paternity leave or pay for <a href="/paternity-leave-pay-employees">overseas adoptions</a>
</li>
</ul>

<p> </p>

		</div>
	</div>
</div>











