

<!-- PAGE HEADING -->
<div class="grid-wrapper">
	<div class="grid grid-2-3">
		<div class="inner-block">
		<h1 class="heading-48">Parental leave and pay calculator</h1>

		<h2 class="heading-24">Leave dates</h2>


    <fieldset class="inline big-bottom">
                  <legend><span class="question-number">1. </span>When does the mother want to start her leave?<br>It can be started from 4 April 2015.</legend>

                       <div class="question-body">


                         <div class="date-block">

                           <fieldset>
                 <label for="response_day">Day
                       <select id="response_day" name="response[day]"><option value=""></option>
                 <option value="1">1</option>
                 <option value="2">2</option>
                 <option value="3">3</option>
                 <option value="4">4</option>
                 <option value="5">5</option>
                 <option value="6">6</option>
                 <option value="7">7</option>
                 <option value="8">8</option>
                 <option value="9">9</option>
                 <option value="10">10</option>
                 <option value="11">11</option>
                 <option value="12">12</option>
                 <option value="13">13</option>
                 <option value="14">14</option>
                 <option value="15">15</option>
                 <option value="16">16</option>
                 <option value="17">17</option>
                 <option value="18">18</option>
                 <option value="19">19</option>
                 <option value="20">20</option>
                 <option value="21">21</option>
                 <option value="22">22</option>
                 <option value="23">23</option>
                 <option value="24">24</option>
                 <option value="25">25</option>
                 <option value="26">26</option>
                 <option value="27">27</option>
                 <option value="28">28</option>
                 <option value="29">29</option>
                 <option value="30">30</option>
                 <option value="31">31</option></select></label>
                     <label for="response_month">Month
                       <select id="response_month" name="response[month]"><option value=""></option>
                 <option value="1">January</option>
                 <option value="2">February</option>
                 <option value="3">March</option>
                 <option value="4">April</option>
                 <option value="5">May</option>
                 <option value="6">June</option>
                 <option value="7">July</option>
                 <option value="8">August</option>
                 <option value="9">September</option>
                 <option value="10">October</option>
                 <option value="11">November</option>
                 <option value="12">December</option></select></label>
                     <label for="response_year">Year
                       <select id="response_year" name="response[year]"><option value=""></option>
                 <option value="2013">2013</option>
                 <option value="2014">2014</option>
                 <option value="2015">2015</option>
                 <option value="2016">2016</option>
                 <option value="2017">2017</option></select></label>
                 </fieldset>
                 </div>
     </fieldset>


     <fieldset class="inline big-bottom">
                   <legend><span class="question-number">2. </span>When does the partner want to start their leave?<br>It can be started from 5 May 2015.</legend>

                        <div class="question-body">


                          <div class="date-block">

                            <fieldset>
                  <label for="response_day">Day
                        <select id="response_day" name="response[day]"><option value=""></option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15">15</option>
                  <option value="16">16</option>
                  <option value="17">17</option>
                  <option value="18">18</option>
                  <option value="19">19</option>
                  <option value="20">20</option>
                  <option value="21">21</option>
                  <option value="22">22</option>
                  <option value="23">23</option>
                  <option value="24">24</option>
                  <option value="25">25</option>
                  <option value="26">26</option>
                  <option value="27">27</option>
                  <option value="28">28</option>
                  <option value="29">29</option>
                  <option value="30">30</option>
                  <option value="31">31</option></select></label>
                      <label for="response_month">Month
                        <select id="response_month" name="response[month]"><option value=""></option>
                  <option value="1">January</option>
                  <option value="2">February</option>
                  <option value="3">March</option>
                  <option value="4">April</option>
                  <option value="5">May</option>
                  <option value="6">June</option>
                  <option value="7">July</option>
                  <option value="8">August</option>
                  <option value="9">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option></select></label>
                      <label for="response_year">Year
                        <select id="response_year" name="response[year]"><option value=""></option>
                  <option value="2013">2013</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option></select></label>
                  </fieldset>
                  </div>
      </fieldset>

<p> </p>


<a href="outcome"><button type="submit" class="medium button">Next</button></a>


<table>
  <thead><th colspan="3">Previous answers</th></thead>
  <tbody>
  <tr><td width="185px">Your circumstances</td><td width="252px">Pregnancy<br>2 parents</td><td width="55px"><a href="#">Change</a></td></tr>
  <tr><td>Due date</td><td>5 June 2015</td><td><a href="#">Change</a></td></tr>
  <tr><td>Employment</td><td>Mother is employed<br>Partner is employed</td><td><a href="#">Change</a></td></tr>
  <tr><td>Mother's employment</td><td>Employed on 4 January 2015<br>Will be employed on 5 May 2015<br>Earning over £111 a week<br>Salary of £24,000</td><td><a href="#">Change</a></td></tr>
  <tr><td>Partner's employment</td><td>Employed on 4 January 2015<br>Will be employed on 5 May 2015<br>Earning over £111 a week<br>Salary of £13,000</td><td><a href="#">Change</a></td></tr>
</tbody>
</table>
<p> </p>
		</div>
	</div>
</div>











