

<!-- PAGE HEADING -->
<div class="grid-wrapper">
	<div class="grid grid-2-3">
		<div class="inner-block">
		<h1 class="heading-48">Parental leave and pay calculator</h1>

		<h2 class="heading-24">Mother's employment</h2>


    <fieldset class="inline">
                  <legend><span class="question-number">1. </span>Did the mother start her job before 4 January 2015?</legend>

                  <div class="form-group">

                    <label for="radio-0" class="block-label">
                      <input id="radio-0" type="radio" name="radio-group" value="2"> 
                      Yes
                    </label>

                    <label for="radio-1" class="block-label">
                      <input id="radio-1" type="radio" name="radio-group" value="3"> 
                      No
                    </label>
                  </div>
     </fieldset>

     <fieldset class="inline">
                   <legend><span class="question-number">2. </span>Will the mother still be employed on 5 May 2015?</legend>

                   <div class="form-group">

                     <label for="radio-2" class="block-label">
                       <input id="radio-2" type="radio" name="radio-group-1" value="2"> 
                       Yes
                     </label>

                     <label for="radio-3" class="block-label">
                       <input id="radio-3" type="radio" name="radio-group-1" value="3"> 
                       No
                     </label>
                   </div>
      </fieldset>

      <fieldset class="inline">
                    <legend><span class="question-number">3. </span>Did the mother earn over £111 per week between 1 January 2015 and 28 February 2015?</legend>

                    <div class="form-group">

                      <label for="radio-4" class="block-label">
                        <input id="radio-4" type="radio" name="radio-group-2" value="2"> 
                        Yes
                      </label>

                      <label for="radio-5" class="block-label">
                        <input id="radio-5" type="radio" name="radio-group-2" value="3"> 
                        No
                      </label>
                    </div>
       </fieldset>

       <fieldset>
                     <legend><span class="question-number">4. </span>What is the mother's salary?</legend>

                     <div class="form-group">
                                     
                                     £ <input type="text" class="form-control" id="salary" style="width:20%;"> <select>
                                   <option>a year</option>
                                   <option>a month</option>
                                   <option>a week</option>
                                 </select>
                                   </div> 
        </fieldset>




<a href="partners-employment"><button type="submit" class="medium button">Next</button></a>


<table>
  <thead><th colspan="3">Previous answers</th></thead>
  <tbody>
  <tr><td width="185px">Your circumstances</td><td width="252px">Pregnancy<br>2 parents</td><td width="55px"><a href="#">Change</a></td></tr>
  <tr><td>Due date</td><td>5 June 2015</td><td><a href="#">Change</a></td></tr>
  <tr><td>Employment</td><td>Mother is employed<br>Partner is employed</td><td><a href="#">Change</a></td></tr>
</tbody>
</table>

<p> </p>

		</div>
	</div>
</div>











